.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

#header-center {
    margin: 0 auto; 
    width: 1080px;
}

div#header-search > h1{ /*자식*/
    width: 280px;
    display: inline-block;
}

div#header-search h2{ /*자식*/
    display: none;
}

#header-search fieldset{ /*자식*/
    width: 520px;
    display: inline-block;
}

/*#header-center h1{ 자손
    width: 280px;
}*/